.App { /* Take up the whole screen */
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.PlotsOuterContainer {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.PlotsInnerContainer {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-vert, .Visualization, .react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  flex: 1;
}

p {
  margin: 5px 0 ;
}

.bottomMargin {
  margin: 0 0 10px;
}
